/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans' ;
}

/* ----------------------------------Navbar -------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

img {
  display: block;
  max-width: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  color: black;
  text-decoration: none;
}

/* --------------------------------Utils-------------------------*/
.container-base {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.navbar .btn-blue {
  background: #0061FF;
  color: #fff;
  padding: 10px 20px;
  /* border-radius: 5px; */
  text-align: center;
}

.btn-blue:hover {
  background: #0041cc;
}

/* -------------------------------------Hero Section -----------------*/
.hero{
  margin-top: 60px;
  background-color: #B4D0E7;
}

.hero-row{
  /* border: 1px solid #bd4545; */
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
}

.hero-col{
  /* border: 2px dashed #2c6f39; */
  padding: 1.5rem;
}

.hero-col-text{
  /* border: 2px dashed #2c6f39; */
  padding: 1.5rem;
  width: 30%;
}

.hero-title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.hero-col-image{
  /* border: 2px dashed #2c6f39; */
  width: 70%;
  position: relative;
  overflow: visible;
}

.hero-text p{
  margin-bottom: 40px;
}

.hero-text a.btn-blue {
  background: #0061FF;
  color: #fff;
  padding: 10px 20px;
  /* border-radius: 5px; */
  text-align: center;
  text-decoration: none;
}

.hero-text .margin p{
  margin-top: 40px;
}

.hero-text .margin i{
  margin-top: 80px;
  color: black;
  font-size: 50px;
}

.hero-image {
  position: relative;
}

.hero-image img {
  position: absolute;
  bottom: -560px;
  left: 0;
  height: 560px;
}


/* ----------------------------------Plans Section--------------------- */

.plans {
  background-color: white;
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.plans-row-title h1 {
  margin-top: 40px;
  text-align: left;
  font-size: 34px;
  margin-bottom: 40px;
}

.check, .checkno {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;

}

.check {
  border: 5px solid #0061FF;
  /* background-color: #141e8b; */
}

.checkno {
  border: 2px solid #9395ac;
}

.marg-rg-big {
  margin-right: 80px;
}


.plans-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.plans-col{
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  flex-basis: calc(100% / 3 - 20px);
  flex-grow: 1;
  /* gap: 10px; */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.fa-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  font-weight: bold;
}

.plans-col-text {
  text-align: center;
  margin-bottom: 20px;
}

.plans-col-text h3 {
  margin: 0;
  font-size: 24px;
}

.plans-col-text span {
  font-size: 20px;
  color: black;
  display: block;
  margin: 5px 0;
}

.plans-col-text p {
  margin: 0;
  font-size: 14px;
  color: #666666;
}

.plans-col-text-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plans-col-text-options li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333333;
}

.plans-col-text-options li i {
  margin-right: 10px;
  color: #000000;
 
}
.fa-check{
  color: #0061FF;
}

.btn-blue {
  background-color: #0070f3;
  color: #ffffff;
  border: none;
  /* border-radius: 5px; */
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  width: 100%;
}

.link {
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link a {
  color: #0070f3;
  text-decoration: none;
}

.plans-features {
  margin-top: 20px;
}

.plans-features h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.plans-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plans-features li {
  padding: 10px 0;
}



/* ------------------------Contact Section --------------------*/
.contact {
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact .c-image img {
  max-width: 100%;
  /* border-radius: 10px; */
  border: 2px dashed black;
}

.contact .c-text {
  max-width: 50%;
  border: 2px dashed black;
}

.contact .c-text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.contact .c-text p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.contact .c-text a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px;
}



/* ------------------------Operations Section -----------------*/
.operation {
  padding: 3rem 1rem;
  text-align: center;
}

.operation h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.operation .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.operation .col {
  flex-basis: calc(100% / 3 - 1rem);
  flex: 1;
  text-align: left;
}

.operation .col img {
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.operation .col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.operation .col p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
}
