/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans' ;
}
/* TODO: CENTRALIZZARE IL TUTTO! */


/* --------------------------------Utils-------------------------*/
.container-base {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}


/* TODO: inline su navbar e plans resto con inl-blk */

.btn{
  color: #ffffff;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-decoration: none;

}

.btn-padd{
  padding: 10px;
}

.btn-blue{
  background-color: #0070f3;
}

.btn-blue:hover {
  background: #0041cc;
}

.btn-width{
  margin-top: 2opx;
  width: 100%;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-40 {
  margin-top: 40px;
}



/* ----------------------------------Navbar -------------------------*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

img {
  display: block;
  max-width: 100%;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  
}

.navbar a {
  color: black;
  text-decoration: none;
}


.navbar .btn {
  color: #fff;
}



/* -------------------------------------Hero Section -----------------*/
.hero{
  /* margin-top: 30px; */
  background-color: #B4D0E7;
  
}

.hero-row{
  /* border: 1px solid #bd4545; */
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
}

/* .hero-col{
  border: 2px dashed #2c6f39;
  padding: 1.5rem;
} */

.hero-col-text{
  /* border: 2px dashed #2c6f39; */
  /* padding: 1.5rem; */
  width: 30%;
}

.hero-title{
  text-align: left;
  font-weight: 900;
  font-size: 45px;
}

.hero-col-image{
  /* border: 2px dashed #2c6f39; */
  width: 70%;
  /* overflow: visible; */
}

.hero-text p{
  margin-bottom: 40px;
}

.hero-text .margin p{
  margin-top: 40px;
}

.hero-text .margin i{
  /* margin-top: 80px; */
  color: black;
  font-size: 50px;
}


.hero .container-base{
  position: relative;
  top: 70px;
}


/* ----------------------------------Plans Section--------------------- */

.plans {
  background-color: white;
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  border*/
  border-radius: 8px;
}

.plans-row-title h1 {
  margin-top: 40px;
  text-align: left;
  font-size: 34px;
  margin-bottom: 40px;
}

.check, .checkno {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;

}

.check {
  border: 5px solid #0061FF;
  /* background-color: #141e8b; */
}

.checkno {
  border: 2px solid #9395ac;
}

.marg-rg-big {
  margin-right: 80px;
}


.plans-row {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 20px;
}

.plans-col{
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  flex-basis: calc(100% / 3 - 20px);
  flex-grow: 1;
  /* gap: 10px; */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}


.fa-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  font-weight: bold;
}

.plans-col-text {
  text-align: center;
  margin-bottom: 20px;
}

.plans-col-text h3 {
  margin: 0;
  font-size: 24px;
}

.plans-col-text span {
  font-size: 20px;
  color: black;
  display: block;
  margin: 5px 0;
}

.plans-col-text p {
  margin: 0;
  font-size: 14px;
  color: #666666;
}

.plans-col-text-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plans-col-text-options li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333333;
}

.plans-col-text-options li i {
  margin-right: 10px;
  color: #000000;
 
}


.fa-check{
  color: #0061FF;
}

.link {
  position: relative;
  text-align: left;
  /* margin-top: 20px; */
  padding: 40px 0;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 20%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.link a {
  color: #0070f3;
  text-decoration: none;
}

.plans-features {
  margin-top: 50px;
}

.plans-features h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.plans-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plans-features li {
  padding: 10px 0;
}



/* ------------------------Contact Section --------------------*/

section.contact{
  padding: 80px 0;
}

.c-image {
  flex: 1 1 45%;
}

.c-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.c-text {
  flex: 1 1 45%;
  padding: 40px;
}

.c-text h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem; 
  line-height: 1.2; 
}

.c-text p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.c-text a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border: 1px solid black;
  display: inline-block;
  transition: background-color 0.3s;
}

.c-text a:hover {
  background-color: #005bb5;
}

/* ------------------------Operations Section -----------------*/
.operation {
  padding: 3rem 1rem;
  text-align: left;
}

.operation h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: left;
}

.operation .col {
  flex-basis: calc(100% / 3 - 1rem);
  flex: 1;
  text-align: left;
}

.operation .col img {
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.operation .col h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.operation .col p {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #333;
}

.final-text h2{
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

.final-text a{
  text-align: left;
  padding: 50px 0;
}

.final-text{
  margin-bottom: 60px;
}

/*-----------------uso migliore delle colonne----------------*/

.operation .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.cols-grow{
  flex-grow: 1;
}

.row.cols-3{
  gap: 20px;
  
}

.row.cols-3 > .col {
  flex-basis: calc(100% /3 - 80px /3);
  min-height: 80px;
  /* border: 2px dashed black; */
  padding: 20px;
}



/*-----------------------Company--------------------------------*/

.company {
  /* padding: 2rem; */
  background-color: #e0f0ff;
}

.com-grid {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.com-col {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  flex: 1;
}

.com-row {
  display: flex;
  flex: 1;
  /* gap: 1rem; */
}

.com-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  color: white;
  text-align: center;
}

.com-image img {
  max-width: 60%;
  max-height: 60%;
  /* padding: 40px; */
  filter: invert(1);
}

.com-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background-color: #f0f0f0;
  text-align: left;
}

.com-text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.com-text p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cta-section {
  text-align: center;
  background-color: #cce6ff;
  padding: 2rem;
}

.cta-section h2 {
  font-size: 1.75rem;
  color: #800020;
  margin-bottom: 1rem;
  margin-right: 100px;
}

.btn-cta {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.btn-cta:hover {
  background-color: burlywood;
}


.com-designit {
  background-color: #A2D39B; 
}

.com-asu {
  background-color: #61082B; 
}

.com-uf {
  background-color: #0093CE; 
}

.com-topps {
  background-color: #FF1C1C; 
  color: white;
}

.com-wbr {
  background-color: #D5001F; 
}

.com-hearst {
  background-color: #B4D0E7; 
}

.com-lonely {
  background-color: #0D2481; 
}

.com-clear {
  background-color: #FFD830; 
}

.logo {
  max-width: 250px; 
  max-height: 200px; 
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #d5cfcf;
  display: block; 
}



/*------------------------FAQ-------------------------------*/

.FAQ {
  padding: 80px;
}

.faq-title {
  text-align: left;
  margin-bottom: 1rem;
}

.faq-title h2 {
  font-size: 2rem;
  font-weight: bold;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  cursor: pointer;
  position: relative;
}

.faq-item:nth-child(2) {
  border-top: 1px solid #ddd;
}

.faq-item:last-child {
  margin-bottom: 30px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question p {
  margin: 0;
  font-size: 1rem;
}

.faq-question span {
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.faq-answer {
  display: none;
  padding: 0.5rem 0;
  position: absolute; 
  left: 0;
  right: 0;
  top: 100%; 
  background-color: white;
  /* border: 1px solid #ddd; */
  z-index: 1;
}

.faq-item:hover .faq-answer {
  display: block;
}

.faq-item:hover .faq-question span {
  transform: rotate(90deg); 
}



/* -------------------FOOTER----------------------*/

footer {
  background-color: #000000;
  color: #fff;
  padding: 40px 0;
  font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.footer-links {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-column h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: white; 
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 12px 0;
}

.footer-column ul li a {
  color: #b9bbbe;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #fff; 
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin-top: 30px;
  border-top: 2px #3A445F solid;
  padding: 20px;
}

